@media screen and (max-width: 1018px) {
    .background_fixed {
        background-attachment: scroll;
    }
}

@media only screen and (max-width: 959px) {
    h1 {
        font-size: 110px;
    }

    h2 {
        font-size: 70px;
    }

    h4 {
        font-size: 24px;
    }

    div.main_menu nav ul li a {
        padding-left: 6px;
        padding-right: 6px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    a.app_store {
        float: right;
    }

    a.google_play {
        float: right;
    }

}

@media only screen and (max-width: 766px) {
    .section_icon {
        margin-top: 145px;
    }

    .home_nav_img_content {
        visibility: hidden;
        height: 95%;
        margin-top: 200px;
        margin-left: -195px;
    }

    .bg_top_apps_img {
        min-height: 300px;
    }

    .apps_full_screen_title {
        padding-top: 180px;
    }

    .app_store_google_play {
        text-align: center;
    }

    .full_width_apps {
        padding-top: 150px;
    }

    .full_width_photo {
        padding-top: 150px;
    }

    .blog_full_screen_title {
        padding-top: 220px;
    }

    .mobile_title {
        padding-bottom: 30px;
        font-size: 21px;
        margin-left: 527px;
        margin-top: -57px;
        visibility: visible;
    }

    .m_carr_header {
        height: 84px;
        margin-top: -40px;
        margin-left: 481px;

    }

    .strip {
        background: none;
    }

    .title {
        visibility: hidden;
    }

    #portfolio-items {
        margin-left: 25%;
    }

    .portfolio_full_screen_image {
        visibility: hidden;
        height: 0;
    }

    .sites {
        margin-bottom: -95px;
    }

    .i_vid_1 {
        margin-left: -25px;
        margin-right: 50px;
    }

    .i_vid_2 {
        margin-left: -25px;
    }

    .i_vid_3 {
        margin-left: -62px;
    }

    .cd_display {
        display: block;
        margin-left: -35px;
        margin-bottom: -20px;
    }

    .cds {
        margin-bottom: -20px;
    }

    .cd_normal {
        visibility: hidden;
        height: 40px;
    }

    .cd_small {
        visibility: visible;
        height: auto;
    }

    .music {
        margin-bottom: -130px;
    }

    .photo_wrapper_top {
        height: 100%;
        webkit-background-size: none;
        overflow: visible;
        background-size: auto;
        background-position: top;
    }

    .iframe_margin {
        margin-left: -120px
    }
}

@media only screen and (min-width: 767px) {

    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 65px;
    }

    .bg_top_apps_img {
        min-height: 200px;
    }

    .apps_full_screen_title {
        padding-top: 30px;
    }

    #filter li {
        font-size: 16px;
    }

    .blog_full_screen_title {
        padding-top: 100px;
    }

    .m_carr_header {
        margin-top: 40px;
        margin-left: -242px;
        opacity: 0.8;
        height: auto;

    }

    .strip {
        background: rgba(255, 255, 255, 0.4);
    }

    .mobile_title {
        visibility: hidden;
    }

    .title {
        visibility: visible;
    }

    #portfolio-items {
        margin-left: 2%;
    }

    .portfolio_full_screen_image {
        visibility: visible
    }

    .i_vid_1 {
        margin-left: auto;
        margin-right: auto;
    }

    .i_vid_2 {
        margin-left: auto;
    }

    .i_vid_3 {
        margin-left: auto;
    }

    .cd_display {
        display: inline-flex;
    }

    .cd_small {
        visibility: hidden;
        height: 20px;
    }

    .cd_normal {
        visibility: visible;
        height: auto;
    }

    .music {
        margin-bottom: 36px;
    }

    .photo_wrapper_top {
        height: 100%;
        webkit-background-size: contain;
        overflow: hidden;
        background-size: cover;
        background-position: 50% 50%;
    }

    .iframe_margin {
        margin-left: 0
    }
}

